<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <meta charset="utf-8" />
    <link rel=stylesheet type=text/css href="{{url_for('static',
    filename='style.css')}}">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Materialise CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"
            ><span class="glyphicon glyphicon-home"></span> Quiz</a
          >
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="/profile/{{ currentuser }}"
              ><span class="glyphicon glyphicon-user"></span> My Profile</a
            >
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              ><span class="glyphicon glyphicon-th-list"></span> Categories<span
                class="caret"
              ></span
            ></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/quiz/Literature"
                  ><span class="glyphicon glyphicon-book"></span> General Mental
                  Ability</a
                >
              </li>
              <li>
                <a href="/quiz/History"
                  ><span class="glyphicon glyphicon-knight"></span> Reasoning</a
                >
              </li>
              <li>
                <a href="/quiz/CurrentAffairs"
                  ><span class="glyphicon glyphicon-bullhorn"></span
                  >Mathematics</a
                >
              </li>
              <li>
                <a href="/quiz/Movies"
                  ><span class="glyphicon glyphicon-film"></span> General
                  Science</a
                >
              </li>
              <li>
                <a href="/quiz/Science"
                  ><span class="glyphicon glyphicon-tint"></span> General
                  Knowledge</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/leaderboard/globalrank"
              ><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              Leaderboards</a
            >
          </li>
          <li>
            <a href="/user/sign-out"
              ><span class="glyphicon glyphicon-new-window"></span> Log-Out</a
            >
          </li>
        </ul>
      </div>
    </nav>
    {% if currentuser == 'Admin' %}
    <a href="/admin" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-lock"></span> Master Access
    </a>
    {% endif %}
    <a href="/resume" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-play"></span> Resume your previous quiz
    </a>
    <br />
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../static/Literature.jpeg" alt="Literature" />
            <span class="card-title"><b>General Mental Ability</b></span>
            <a class="btn-floating halfway-fab" href="/quiz/Literature"
              ><i class="material-icons" style="background-color: orange;"
                >add</i
              ></a
            >
          </div>
          <div class="card-content">
            <p>
              <i>"Your mental ability is your greatest ability"</i>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../static/History.jpeg" alt="History" />
            <span class="card-title"><b>Reasoning</b></span>
            <a class="btn-floating halfway-fab" href="/quiz/History"
              ><i class="material-icons" style="background-color: brown"
                >add</i
              ></a
            >
          </div>
          <div class="card-content">
            <p>
              <i
                >"That which can be asserted without evidence, can be dismissed
                without evidence."</i
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../static/Currentaffairs.jpeg" alt="CurrentAffairs" />
            <span class="card-title"><b>Mathematics</b></span>
            <a class="btn-floating halfway-fab" href="/quiz/CurrentAffairs"
              ><i class="material-icons" style="background-color: #b36200;"
                >add</i
              ></a
            >
          </div>
          <div class="card-content">
            <p>
              <i>"The only way to learn mathematics is to do mathematics."</i>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../static/Movies.jpeg" alt="Movies" />
            <span class="card-title"><b>General Knowledge</b></span>
            <a class="btn-floating halfway-fab" href="/quiz/Movies"
              ><i class="material-icons" style="background-color: #99cc00;"
                >add</i
              ></a
            >
          </div>
          <div class="card-content">
            <p>
              <i>"he only true wisdom is in knowing you know nothing"</i>
            </p>
            <p class="pull-right">- from <i>Sokratis</i></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="../static/Science.jpeg" alt="Science" />
            <span class="card-title"><b>General Science</b></span>
            <a class="btn-floating halfway-fab" href="/quiz/Science"
              ><i class="material-icons" style="background-color: purple;"
                >add</i
              ></a
            >
          </div>
          <div class="card-content">
            <p>
              <i
                >"Science is not only a disciple of reason but, also, one of
                romance and passion.</i
              >
            </p>
            <p class="pull-right">- Stephen Hawking</p>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </body>
</html>
